.tabs {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .tabs {
    flex-direction: row;
  }
}

.tab-list {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
  display: flex;
  overflow-x: scroll;
  margin-left: -1rem;
}

@media (min-width: 768px) {
  .tab-list {
    display: block;
    overflow-x: auto;
    margin-left: 0;
  }
}

.tab-link {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all ease 0.3s;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .tab-link {
    display: block;
    border-bottom: 0;
    border-left: 3px solid transparent;
    white-space: normal;
  }

  .tab-link:hover {
    border-bottom: 0;
    border-left: 3px solid var(--brand-primary);
  }
}

.tab-link--active {
  background-color: var(--brand-primary-rgba);
  border-bottom: 1px solid var(--brand-primary);
}

@media (min-width: 768px) {
  .tab-link--active {
    border-bottom: 0;
    border-left: 3px solid var(--brand-primary);
  }
}

.tab-content {
  padding: 0.5rem 1rem;
  transition: all ease 0.3s;
}

@media (min-width: 768px) {
  .tab-content {
    width: 80%;
    padding: 0.5rem 1rem 0.5rem 2rem;
  }
}

.tab-content p {
  font-size: 1rem;
  color: var(--grey-light);
}

.tab-content ul {
  padding: 0;
  list-style: none;
}

.tab-content li::before {
  display: inline-block;
  content: "►";
  padding-right: 0.5rem;
  font-size: 0.8rem;
  color: var(--brand-primary);
}
