@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=IBM+Plex+Sans:wght@300;400&display=swap");

*,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: var(--body-bg);
  color: var(--dark-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--code-font);
}

a {
  color: var(--brand-primary);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headings-font-family);
  color: var(--grey-mid);
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

p,
li {
  font-size: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  p,
  li {
    font-size: 1.25rem;
  }
}

section {
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}

.dark-bg {
  background-color: var(--brand-primary-rgba);
}

@media (min-width: 768px) {
  section {
    padding: 4rem 0;
    width: 70%;
  }
}

.button {
  display: inline-block;
  color: var(--brand-primary);
  border: 1px solid var(--brand-primary);
  border-radius: 4px;
  text-decoration: none;
  padding: 1.25rem 1.75rem;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--brand-primary-rgba);
}

/*
// VARIABLES
*/
:root {
  /* Colors */
  --brand-primary: #d9965b;
  --black: #000;
  --white: #fff;
  --body-bg: #f7f5f2;

  /* Greys */
  --dark-grey: #35403a;
  --grey-mid: #414042;
  --grey-light: #6c6c6c;

  /* RGBA */
  --brand-primary-rgba: rgba(217, 150, 91, 0.1);
  --grey-mid-rgba: rgba(65, 64, 66, 0.1);

  /* Font stacks */
  --headings-font-family: "Cormorant Garamond", serif;
  --body-font-family: "IBM Plex Sans", sans-serif;
  --code-font: "Bitstream Vera Sans Mono", "Courier", monospace;
}
